<div class="container p-5 my-5">
  <div class="row" style="height:auto;">
    <div class="col-md-4">
       
        <div class="row">
            <div class="col-md-6"> <h4>Projects</h4></div>
            <div class="col-md-6">
                <button  routerLink="/new-project/0" class="btn btn-primary">Add project</button>
            </div>
        </div>

    </div>


    <div class="col-md-8">

   <!-- Project Table -->
   <h4 class="mb-4">Project list</h4>
   <table class="table ">
     <thead>
       <tr>
         <th>Project ID</th>
         <th>Project Name</th>
         <th>Client Name</th>
         <th>Start Date</th>
         <th>Lead By Employee</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <!-- Data rows go here -->
        <tr>
            <td>102</td>
            <td>Web app</td>
            <td>John sir</td>
            <td>23-10-24</td>
            <td>Md Farik</td>
            <td>
                <button class="btn"><i class="fa fa-edit"></i></button
                    ><button  class="btn"><i class="fa fa-trash"></i></button> 
            </td>
        </tr>
     </tbody>
   </table>


    </div>
   
  </div>
</div>
