<div class="container p-5 my-5">
  <div class="row" style="height:auto;">
    <div class="col-md-2">
       
        <div class="row">
            <div class="col-md-12">
                <button  routerLink="/new-project/0" class="btn btn-primary">Add project</button>
            </div>
        </div>

    </div>


    <div class="col-md-10">

   <!-- Project Table -->
   <h4 class="mb-4">Project list</h4>
   <table class="table ">
     <thead>
       <tr class="p-5">
         <th >Project ID</th>
         <th >Project Name</th>
         <th >Client Name</th>
         <th>Start Date</th>
         <th>Lead By Employee</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <!-- Data rows go here -->
       @for (item of projectList; track $index) {
        <tr>
          <td>{{item.projectId}}</td>
          <td>{{item.projectName}}</td>
          <td>{{item.clientName}}</td>
          <td>{{item.startDate}}</td>
          <td>{{item.leadByEmpId}}</td>
          <td>
              <button (click)="onEdit(item.projectId)" class="btn"><i class="fa fa-edit"></i></button
                  ><button (click)="onDelete(item.projectId)"  class="btn"><i class="fa fa-trash"></i></button> 
          </td>
      </tr>
       } 
  
     </tbody>
   </table>


    </div>
   
  </div>
</div>
